<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<connectionStrings>
		<add name="POTS_ConnectionString" connectionString="Server=Use1a-sql08\PINSQL;Database=POTS_Demo_Base;User ID=potsLMS;Password=turk182@;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
		<authentication>
			<forms loginUrl="index.aspx"  defaultUrl="home.aspx" slidingExpiration="false" protection="All" enableCrossAppRedirects="false" timeout="2880" />
		</authentication>
		
    </system.web>

</configuration>
