body
{
    font-family: Verdana, sans-serif;
    font-size: 0.75em;
    margin: 0px 0 0 0;
}

.watermark
{
    background: url('../images/warkermark.jpg') no-repeat 20% 300px;
}

.logo
{
    position: absolute;
    top: -80px;
    left: 2px;
}

.loginScreen
{
    /*background: rgba(217,217,217,0.4);*/
    padding: 15px 0 22px 0;
    /*margin:0 20px 0 100px;
    width:475px;*/
    /*padding:1% 0% 1.5% 0%;*/
}

#FormMasterStart
{
    background: rgba(230,230,230,0.4);
}

.headerText
{
    color: #722774;
    font-size: 2.3em;
    padding-top: 80px;
    padding-bottom: 60px;
    margin-left: 200px;
}

.header1
{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 0 10%;
    line-height: 44px;
    color: #15a64b;
}

.header2
{
    font-size: 1.05em;
    font-weight: bold;
    margin: 0 0 0 10%;
    line-height: 22px;
}
.rightmargin
{
    margin-right:14px;
}
.leftmargin
{
    padding-left:14px;
}
.instructions, .tbforgotPassInstructions
{
    font-size: 0.9em;
    font-style: italic;
    margin: 0 0 0 10%;
    line-height: 22px;
}

.tbforgotPassInstructions
{
    margin: 1% 5%;
}

.selectedRow
{
    background-color: #C4ECFF;
    font-weight: bold;
    color: #646469;
}

    .selectedRow td
    {
        padding: 5px 10px 5px 10px;
    }

.gridViewPage
{
    background-color: #C4ECFF;
}

.footer
{
    font-size: 1.0em;
    color: #FFFFFF;
    padding-left: 2%;
    padding-bottom: 2px;
    line-height: 1.3em;
    width: 100%;
    background-color: #722774;
    position: fixed;
    bottom: 0;
}

#nav-wrapper
{
    margin-left: 25px;
    margin-right: 25px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    border: 1px solid #d8d8d8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 38px;
}

    #nav-wrapper a
    {
        line-height: 38px;
        border-right: 1px solid #d8d8d8;
        display: block;
        float: left;
        padding: 0px 16px;
        /* background: url(../images/more_img.png) right center no-repeat; */
        color: #5c5c5c;
        text-decoration: none;
        /*font-weight: bold;*/
        cursor: pointer;
    }

        #nav-wrapper a:hover, a.navSelected
        {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.13+0,0+100 */
            background: -moz-linear-gradient(top, rgba(0,0,0,0.13) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.13) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0.13) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
            color: #9c679d;
            /*font-weight: bold;
        padding: 0px 16px;*/
        }

a.navSelected
{
    color: #9c679d !important;
    border-top: 1px solid #A9B5BB;
    /*border-right: 1px solid #b6c1c6;
    border-left: 1px solid #b6c1c6;*/
}


.lnkSelected
{
    background: -moz-linear-gradient(top, rgba(0,0,0,0.1), 100%, rgba(255,255,255,0.1) 0%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1), 100%, rgba(255,255,255,0.1) 0%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), 100%, rgba(255,255,255,0.1) 0%);
    color: #722774;
    padding: 0px 14px 0px 14px;
    text-decoration: none;
    display: block;
    float: left;
    line-height: 38px;
    font-weight: bold;
    cursor: pointer;
}

.spacer
{
    height: 4em;
}

.spacerHalf
{
    height: 2em;
}

.warning
{
    font-size: 0.9em;
    color: #cc0000;
    padding-right: 3%;
}

    .warning:before
    {
        font-family: FontAwesome;
        content: "";
        font-weight: normal;
        font-size: 0.9em;
        padding-right: 2px;
    }

.ErrorBox
{
    margin-top: 20px;
    margin-left: 10%;
    padding: 20px;
    border-left: 5px solid #cc0000;
    width: 430px;
}

.errlogin
{
    color: #000000;
    background-color: #ffe5e5;
    border: 1px solid #ffb1b1;
    padding: 0.625em;
    width: 300px;
}

.login, .profile
{
    font-size: 0.9em;
    font-weight: bold;
    color: #646469;
    margin-right: 20px;
}

.linkBtn
{
    font-size: 0.95em;
    /*display: block;
    color: #2d58a7;*/
    /* background: url(../images/more_img.png) right center no-repeat;*/
    /*color: #696a6a;*/
    text-decoration: none;
}

.rgtBtn
{
    float: right;
    padding: 0 7px 0 26px;
}

.courseTable
{
    border-collapse: collapse;
    /*margin: 10px;*/
    width: 100%;
}

.courseTableHeader
{
    background: #646469;
    color: #FFFFFF;
    height: 30px;
    text-align:left;
}

    .courseTableHeader th
    {
        padding: 10px;
        border-right: 1px solid #FFFFFF;
        font-weight: bold;
    }
    .courseTableHeader th:last-child
    {
        padding: 10px;
        border-right: 0px solid #FF0000;
        font-weight: bold;
    }
tr.courseTableRow
{
    /* background: #F1F1F1;
   color: #000000;*/
        background: #FFFFFF;
     /*border-bottom: 1px solid #cecfd5;*/
}
tr.courseTableRow:nth-child(odd) 
{
    background: #F1F1F1;
}
.courseTableRow2
{
     background: #eff7ff;
     /*display:none;*/
  
}
    .courseTableRow td, .courseTableRowOdd td, .courseTableRow2
    {
        padding: 5px 10px 5px 10px;
    }

/*.courseTableRowOdd, .courseTableRowOdd td
{
    background: #FFFFFF;
     border-bottom: 1px solid #cecfd5;
}*/

#idPending, #idCourse, #idProfile, #idEditAccount
{
    border: solid 2px #dedede;
    border-radius: 6px;
    margin-top: 15px;
}

.idCourseTitle, .idPendingTitle, .idProfileTitle, .idEditAccountTitle
{
    background: #f2f2f2;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(242,242,242,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(242,242,242,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(242,242,242,1) 100%);
    padding: 10px;
    font-weight: bold;
    line-height: 20px;
}

.idProfileTitle, .idEditAccountTitle
{
    border-bottom: solid 1px #dedede;
}

/*#646469*/
/*#722774 -- DRG PURPLE*/
/*#b993ba*/
/*#15a64b  -- DRG GREEN */

.rgtBtn:hover, .rgtBtn:focus
{
    float: right;
}
/*#Clear, #Register, #Submit, #Reset, #resetBtn, #submitBtn, */

.btnLogin, .btnCancel, .btnNewUser
{
    /*-webkit-box-shadow: rgba(0,0,0,0.98) 0 1px 0 0;
    -moz-box-shadow: rgba(0,0,0,0.98) 0 1px 0 0;
    box-shadow: rgba(0,0,0,0.98) 0 1px 0 0;*/
    /*background-color: #EEE;*/
    /*border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;*/
    /*border: 1px solid #bebebe;*/
    /*color: #666;*/
    /*font-size: 0.9em;*/    
    padding: 6px 9px;
    cursor: pointer;
    text-decoration: none;
    line-height: 22px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.btnLogin, .btnCancel, .btnNewUser
{
    /*margin-top: 10px;*/
    width: 40%;
    color: #FFFFFF;
    background-color: #722774;
    border: none;   
}

.btnLogin:hover, .btnCancel:hover, .btnNewUser:hover
{
    line-height: 22px;
    width: 40%;
    color: #3d3d3d;
    background-color: #f0e9f1;
    font-size: 1.2em;
     padding: 5px 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: solid 1px #722774;
}
#submitBtn
{
    padding: 9px 18px;
    color: #FFFFFF;
    background-color: #722774;
}

/*#16a64b; - DRG green*/
/*#732876; #722774; - DRG purple? */
.btnLaunch
{
    padding: 5px 7px;
    line-height: 40px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    background-color: #722774;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

    .btnLaunch:hover
    {
        padding: 5px 7px;
        line-height: 40px;
        border: solid 1px #722774;
        border-radius: 4px;
        font-weight: bold;
        background-color: #f0e9f1;
        color: #3d3d3d;
        text-decoration: none;
        cursor: pointer;
    }

.progressImage30
{
    /*background: url('../Images/Percent-30.png') no-repeat;*/
}

.progressImage50
{
    /*background: url('../Images/Percent-50.png') no-repeat;*/
}

.progressImage80
{
    /*background: url('../Images/Percent-80.png') no-repeat;*/
}

.progressImage90
{
    /*background: url('../Images/Percent-90.png') no-repeat;*/
}

.progressImage100
{
    /*background: url('../Images/Percent-100.png') no-repeat;*/
}

.progressSpacing
{
    height: 40px;
    width: 53px;
    margin: 0 auto;
}

.rightFloat
{
    float: right;
}

.leftFloat
{
    float: left;
}

.clear
{
    clear: both;
}

#idCourse
{
}

.lbWelcome
{
    padding: 14px 4px 18px;
    color: #fff; /*#722774;*/
    line-height: 55px;
    font-family: sans-serif;
}

.lbUserName
{
    color: #fff; /*#6f7176;*/
    /* letter-spacing: 0.2px;*/
    font-family: sans-serif;
}

#companyLogo
{
    /*background:  #ffffff url("../images/DRG_logo.png") no-repeat right top;
    margin:5px 5px 20px 5px;*/
    margin: 30px 0 22px 14px;
    height: 184px;
}

.btnLogout
{
    /*-webkit-box-shadow: rgba(0,0,0,0.98) 0 1px 0 0;
    -moz-box-shadow: rgba(0,0,0,0.98) 0 1px 0 0;
    box-shadow: rgba(0,0,0,0.98) 0 1px 0 0;*/
    background: #f2453d; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom, #f2453d 0%,#db2c26 18%,#ed6961 100%);
    /*-o-linear-gradient(top, #f2453d,0%,  #db2c26, 18%, #ed6961, 100%); */
    background: -moz-linear-gradient(bottom, #f2453d 0%, #db2c26 18%, #ed6961 100%);
    background: linear-gradient(to top, #f2453d 0%,#db2c26 18%,#ed6961 100%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #861610;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 9px;
    line-height: 22px;
    text-decoration: none;
    float: right;
}

    .btnLogout:after, .btnCancelPassword:after
    {
        /* fa-times-circle &#xf057;  */
        font-family: FontAwesome;
        content: "";
        font-weight: normal;
        font-size: 14px;
        padding: 1px 0px 1px 4px;
    }

.btnCancel:after
{
    font-family: FontAwesome;
    content: "";
    padding: 1px 0px 1px 4px;
}

.btnLogout:hover
{
    background: #d93e36;
    background: -webkit-linear-gradient(bottom, #d93e36 0%,#c52722 18%,#d55e57 100%);
    background: -moz-linear-gradient(bottom, #d93e36 0%, #c52722 18%, #d55e57 100%);
    background: linear-gradient(to top, #d93e36 0%,#c52722 18%,#d55e57 100%);
    text-decoration: none;
    cursor: pointer;
    float: right;
    color: #F4F5F6;
}


#txtPassword, #txtConfirmPassword
{
}
/* -- password -- */
.btnCancelPassword, .btnSubmitPassword, .btnSubmitPasswordLG
{
    text-decoration: none;
    line-height: 20px;
    background: #722774; /* For browsers that do not support gradients */
    background-color: #722774;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    padding: 1px 9px;
 
}

.btnSubmitPasswordLG
{
    padding: 3px 9px;
}

.btnSubmitPasswordLG, .btnCancelPassword, .btnSubmitPassword
{
    margin-left: 35px;
}

.btnCancelPassword
{
    padding: 4px 9px;
}
/* .btnCancelPassword:hover, .btnSubmitPasswordLG:hover,*/
    .btnSubmitPassword:hover
    {
        text-decoration: none;
        border: solid 1px #722774;
        font-weight: bold;
        background-color: #f0e9f1;
        color: #3d3d3d;
        text-decoration: none;
        cursor: pointer;
        padding: 0px 8px;
    }

    .btnCancelPassword:after
    {
        color: #df3f39;
    }

.btnSubmitPassword:disabled, .btnSubmitPassword[disabled], .btnSubmitPassword[disabled]:hover,
.btnSubmitPasswordLG:disabled, .btnSubmitPasswordLG[disabled], .btnSubmitPasswordLG[disabled]:hover
{
    text-decoration: none;
    background: #f4f4f4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom, #f0f2f5 0%, #f4f6f8 8%,#f4f4f4 10%);
    background: -moz-linear-gradient(bottom, #f0f2f5 0%, #f4f6f8 8%, #f4f4f4 10%);
    background: linear-gradient(to top, #f0f2f5 0%, #f4f6f8 8%, #f4f4f4 10%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #d5d5d5;
    color: #a7a7a7;
    /*font-size: 12px;
        font-weight: 600;
        padding: 2px 9px;*/
    cursor: default;
}

.tblProfile
{
    background: #FEFEFE;
    padding: 2% 5%;
    width: 100%;
}

.tblProfileDiv
{
    border-top: solid 1px #cacaca;
}
/*.tblProfile td
{
    border: solid 1px red;
}*/
.errorPassword
{
    padding: 0%;
    background-color: #fbe5e4;
}

.tblPassword
{
    padding: 2% 3% 0% 3%;

    width: 94%;
}
/* -- end password -- */

.enrolled, .pending
{
    clear: both;
    /*color: #732876;*/
    padding: 3px 0px;
    /* border-bottom: 2px solid #000;*/
}

#form1, .ErrorBox
{
    color: #646469;
    background: #f3f1f1;
}

.container
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.strip
{
    background-color: #722774;
    height: 60px;
    margin-bottom: 100px;
}

.InProgress, .Complete, .ExamFailed, .NotAttempted, .No-Credit, .Incomplete, .ExamNotAttempted
{
    font-size: smaller;
    font-weight: bold;
}

.InProgress
{
    color: #e77400;
}

.Complete
{
    color: #7ba52e;
}

.Incomplete
{
    color: #00b6c2;
}

.ExamFailed
{
    color: #e70000;
}

.ExamNotAttempted
{
    color: #e73a00;
}

.No-Credit
{
    color: #1882c4;
}

.noEnrollment
{
    margin-left: 5%;
    padding: 20px 0px;
    color: #f2453d;
    font-size: 1.2em;
}

.modalBackground
{
    background-color: #000000;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.modalPopup
{
    background-color: #FFFFFF;
    /*height: 140px;*/
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 460px;
}

.modalHeader
{
    color: #722774;
    background-color: #f6f6f6;
    border-bottom: 1px solid #d8d8d8;
    padding: 2%;
    font-weight: bold;
}

/*and (max-width : 1920px)*/
@media only screen and (min-width: 1025px) and (orientation:landscape)
{
    #idCourse, #idPending, .enrolled, .pending
    {
        margin-left: 3%;
        margin-right: 3%;
        max-width: 1024px;
    }
}

@media only screen and (min-width: 721px) and (max-width : 1024px)
{
    #idCourse, #idPending, .enrolled, .pending
    {
        margin-left: 5%;
        margin-right: 5%;
    }

    .navbar
    {
        margin-left: 3%;
        margin-right: 3%;
    }

    .lnkHome, .lnkScore, .lnkProfile, .lnkUProfile, .lnkUSummary, .lnkCProfile, .lnkCSummary, .lnkHome:hover, .lnkScore:hover, .lnkProfile:hover, .lnkUProfile:hover, .lnkUSummary:hover, .lnkCProfile:hover, .lnkCSummary:hover
    {
        padding: 0px 10px 0px 10px;
    }
}

@media only screen and (max-width : 720px)
{
    #idCourse, #idPending, .enrolled, .pending
    {
        margin-left: 1%;
        margin-right: 1%;
    }

    .navbar
    {
        margin-left: 1%;
        margin-right: 1%;
    }

    .lnkHome, .lnkScore, .lnkProfile, .lnkUProfile, .lnkUSummary, .lnkCProfile, .lnkCSummary, .lnkHome:hover, .lnkScore:hover, .lnkProfile:hover, .lnkUProfile:hover, .lnkUSummary:hover, .lnkCProfile:hover, .lnkCSummary:hover
    {
        padding: 0px 10px 0px 10px;
    }
}
