<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="POTS_ConnectionString" connectionString="Server=Use1a-sql08\PINSQL;Database=POTS_Demo_Base;User ID=potsLMS;Password=turk182@;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

    <system.web>


        <compilation debug="false">
        <authentication mode="Windows" />
			<forms loginUrl="index.aspx"  defaultUrl="~/Pages/home.aspx" slidingExpiration="false" protection="All" enableCrossAppRedirects="false" timeout="2880" />
		</authentication>

    </system.web>

</configuration>
